@using TravelProject.Models.Siniflar
@model List<Blog>

<div class="box-left">
    @foreach (var x in Model)
    {
        <div><a href=" /Blog/BlogDetay/@x.Id">@x.Baslik</a></div>
        <div class="bot-img">
            <img src="@x.FotoUrl" alt=""  style="width:170px; height:75px"/>
        </div>
        <div class="bot-desc">
            <p>@x.Aciklama.Substring(0,75)...</p>
        </div>
        <div class="clear"></div>

    }


</div>





