
<br /><br />
<div class="form-control">
   
    <form method="post" class="form-control">
        @*<input type="text" placeholder="Id" name="BlogId" value="@ViewBag.deger" required readonly="readonly" />*@
        <input type="text" placeholder="Adınız" name="AdSoyad" required /><br /><br />
        <input type="text" placeholder="Email" name="Email" required /><br /><br />
        <input type="text" placeholder="Konu" name="Konu" required /><br /><br />
        <textarea rows="10" cols="25" placeholder="Mesajınız" name="Mesaj" ></textarea><br /><br />
        <input type="submit"  value="GÖNDER" /><br /><br />
    </form>
</div>
