@using TravelProject.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "HakkimizdaListele";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
} 

<h2>Hakkımızda</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Fotoğraf</th>
        <th>Açıklama</th>
        

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.FotoUrl</td>
            <td>@item.Aciklama</td>
           
            <td><a href="/Admin/HakkimizdaSil/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/HakkimizdaGetir/@item.Id" class="btn btn-warning">Güncelle</a></td>

        </tr>
    }




</table>