@using TravelProject.Models.Siniflar
@model List<Restoran>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}



<div style="text-align: left; margin: auto; width: 90%;">
    <h2>RESTORANLAR</h2>
    <div class="container">

        <div class="col-md-8 single-main">
            @foreach (var x in Model)
            {
                <div class="single-grid">
                    <h2><p>@x.Adi </p></h2>
                    <img src="@x.FotoUrl" style="height:130px;" />
                    <p>Yeri :  @x.Adresi</p>
                    <p>Türü : @x.YemekCesidi</p>
                </div>
            }
        </div>

        <div class="clearfix"></div>
    </div>
</div>
